* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: auto;
  overflow-y: auto;
  background-color: rgb(184, 171, 207);
}

h1 {
  font-family: arial, sans-serif;
  font-size: 3rem;
  background: linear-gradient(90deg, #501a50, #541a75);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin: 10px;
  margin-top: 30px;
}

.wrapper {
  margin: 10px 50px;
  padding: 30px;
  font-size: 1rem;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  table-layout: auto;
  max-width: 100%;
  width: 100%;
}

th, td {
  border: 2px solid #0c0f2c;;
  text-align: center;
  padding: 8px;
  word-wrap: break-word;
}


th {
  background-color:#9f2aaa;
}


tr:nth-child(even) {
  background-color: #b273d6;
}

.numbers {
  background-color: #9f2aaa;
}

.pagination {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgb(226, 157, 157);
  padding: 10px;
  text-align: center;
  box-shadow: 0 -2px 5px rgba(201, 143, 143, 0.1);
  z-index: 1000;
}

button {
  text-decoration: none;
  padding: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
}

button:hover {
  background: rgba(26, 25, 25, 0.1);
}

button.active {
  background-color: brown;
  color: white;
  border-color: rgba(26, 25, 25, 0.1);
}