* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: auto;
  overflow-y: auto;
}

h1 {
  font-family: arial, sans-serif;
  text-align: center;
  margin: 10px;
}

.comment-table {
  margin: 10px;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  table-layout: auto;
  max-width: 100%;
  width: 100%;
}

th, td {
  border: 1px solid rgba(226, 157, 157);
  text-align: left;
  padding: 8px;
  word-wrap: break-word;
}


tr:nth-child(even) {
  background-color: rgba(226, 157, 157);
}

.pagination {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgb(226, 157, 157);
  padding: 10px;
  text-align: center;
  box-shadow: 0 -2px 5px rgba(201, 143, 143, 0.1);
}

button {
  text-decoration: none;
  padding: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
}

button:hover {
  background: rgba(26, 25, 25, 0.1);
}